<div class="cotaner">
<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <input matInput formControlName="expression">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input type="number" matInput formControlName="sub_intervals">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>tipo de metodo</mat-label>
    <mat-select formControlName="type_method">
      <mat-option *ngFor="let option of ['SIMPSON_1_3', 'TRAPEZOIDAL_METHOD', 'JORGE', 'SIMPSON_3_8', 'OPEN_SIMPSON']" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="calculate()">Calcular</button>
</form>
</div>