
<div class="data">
  <input type="text" [value]="inputValue" readonly class="input-field"/>
  <input type="text" [value]="inputValue" readonly class="input-field"/>
    
</div>

<div class="container">
  <div class="button-grid">
    <ng-container *ngFor="let row of buttons">
      <div class="row">
        <ng-container *ngFor="let button of row">
          <button mat-fab  color="warn" matTooltip="Acent" (click)="buttonClick(button)" class="button-item">
            {{ button.text }}
          </button>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="actions">

    <button style="color: brown;
    height: 100px;
    width: 100px;"> calcular</button>
        <button style="color: brown;
        height: 100px;
        width: 100px;" (click)="cls()"> limpiar</button>
    
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Select an option</mat-label>
    <mat-select>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
        </mat-select>
  </mat-form-field>

</div>
