
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
  }
  
.button-grid {
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100vh; 
  }
  
  .input-field {
    width: 200px; 
    height: 30px;
    margin-bottom: 20px; 
    padding: 5px;
    font-size: 18px;
    text-align: center;
    display: block; 

    }
  
  .row {
    display: inline-block;
    text-align: center;
  }
  
  .button-item {
    margin: 10px; 
  }
  .actions {
    margin: 10px;
  }
  .data {
    display: flex;
    justify-content: center;  
  } 


.mat-select {
  margin-bottom: 0;
  padding-bottom: 0;
}
.mat-form-field {
  width: 100%; 
}

.cdk-overlay-container {
  position: absolute;
  right: 0;
  bottom: 0;
}
