.mdc-text-field__input {
  display: block;
  margin-bottom: 16px;
  
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin-top: 16px;
}
mat-form-field {
  width: 100%;
  width: 300px;
  padding: 10px; 
}
.mat-select{
 background-color: brown;
 text-align: center;
 align-items: center;
}
.cotaner{
  display: block;
  background-color: brown;
  width: 25%;
  height: -50px;

}